<?xml version="1.0" encoding="UTF-8"?>
<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>loginServlet</servlet-name>
    <servlet-class>com.njust.controller.loginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginServlet</servlet-name>
    <url-pattern>/loginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>loginOutServlet</servlet-name>
    <servlet-class>com.njust.controller.loginOutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>loginOutServlet</servlet-name>
    <url-pattern>/loginOutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyStudentMessageServlet</servlet-name>
    <servlet-class>com.njust.controller.modifyStudentMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyStudentMessageServlet</servlet-name>
    <url-pattern>/modifyStudentMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>registerServlet</servlet-name>
    <servlet-class>com.njust.controller.registerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>registerServlet</servlet-name>
    <url-pattern>/registerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>creatCourseServlet</servlet-name>
    <servlet-class>com.njust.controller.creatCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>creatCourseServlet</servlet-name>
    <url-pattern>/creatCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>myCourseServlet</servlet-name>
    <servlet-class>com.njust.controller.myCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>myCourseServlet</servlet-name>
    <url-pattern>/myCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>courseMessageServlet</servlet-name>
    <servlet-class>com.njust.controller.courseMessageServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>courseMessageServlet</servlet-name>
    <url-pattern>/courseMessageServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>updateCourseServlet</servlet-name>
    <servlet-class>com.njust.controller.updateCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updateCourseServlet</servlet-name>
    <url-pattern>/updateCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>getCourseServlet</servlet-name>
  <servlet-class>com.njust.controller.getCourseServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>getCourseServlet</servlet-name>
    <url-pattern>/getCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>toCourseServlet</servlet-name>
    <servlet-class>com.njust.controller.toCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>toCourseServlet</servlet-name>
    <url-pattern>/toCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>remarkServlet</servlet-name>
    <servlet-class>com.njust.controller.remarkServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>remarkServlet</servlet-name>
    <url-pattern>/remarkServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>addCourseServlet</servlet-name>
    <servlet-class>com.njust.controller.addCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addCourseServlet</servlet-name>
    <url-pattern>/addCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>exitCourseServlet</servlet-name>
    <servlet-class>com.njust.controller.exitCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>exitCourseServlet</servlet-name>
    <url-pattern>/exitCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>retrieveServlet</servlet-name>
    <servlet-class>com.njust.controller.retrieveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>retrieveServlet</servlet-name>
    <url-pattern>/retrieveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>getAccountServlet</servlet-name>
  <servlet-class>com.njust.controller.getAccountServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>getAccountServlet</servlet-name>
    <url-pattern>/getAccountServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>codeServlet</servlet-name>
    <servlet-class>com.njust.controller.codeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>codeServlet</servlet-name>
    <url-pattern>/codeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>checkCodeServlet</servlet-name>
    <servlet-class>com.njust.controller.checkCodeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>checkCodeServlet</servlet-name>
    <url-pattern>/checkCodeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>modifyPwdServlet</servlet-name>
    <servlet-class>com.njust.controller.modifyPwdServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>modifyPwdServlet</servlet-name>
    <url-pattern>/modifyPwdServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getStudentCourseServlet</servlet-name>
    <servlet-class>com.njust.controller.getStudentCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getStudentCourseServlet</servlet-name>
    <url-pattern>/getStudentCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getCourseStudentServlet</servlet-name>
    <servlet-class>com.njust.controller.getCourseStudentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCourseStudentServlet</servlet-name>
    <url-pattern>/getCourseStudentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>getCourseIdChapterServlet</servlet-name>
    <servlet-class>com.njust.controller.getCourseIdChapterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>getCourseIdChapterServlet</servlet-name>
    <url-pattern>/getCourseIdChapterServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>uploadCourseServlet</servlet-name>
    <servlet-class>com.njust.controller.uploadCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>uploadCourseServlet</servlet-name>
    <url-pattern>/uploadCourseServlet</url-pattern>
  </servlet-mapping>
  <servlet>
  <servlet-name>studyServlet</servlet-name>
  <servlet-class>com.njust.controller.studyServlet</servlet-class>
</servlet>
  <servlet-mapping>
    <servlet-name>studyServlet</servlet-name>
    <url-pattern>/studyServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>changeServlet</servlet-name>
    <servlet-class>com.njust.controller.changeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>changeServlet</servlet-name>
    <url-pattern>/changeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <servlet-name>deleteCourseServlet</servlet-name>
    <servlet-class>com.njust.controller.deleteCourseServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>deleteCourseServlet</servlet-name>
    <url-pattern>/deleteCourseServlet</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>login_register/login_register.jsp</welcome-file>
    <welcome-file>Welcome.jsp</welcome-file>
    <welcome-file>homepage.jsp</welcome-file>
    <welcome-file>message_modify.jsp</welcome-file>
    <welcome-file>register.jsp</welcome-file>
    <welcome-file>creat_course.jsp</welcome-file>
    <welcome-file>personal_center.jsp</welcome-file>
    <welcome-file>course_manage.jsp</welcome-file>
    <welcome-file>my_course.jsp</welcome-file>
    <welcome-file>course_message.jsp</welcome-file>
    <welcome-file>course_show.jsp</welcome-file>
    <welcome-file>course_show_student.jsp</welcome-file>
    <welcome-file>retrieve_pwd.jsp</welcome-file>
  </welcome-file-list>
  <context-param>
    <description>文件上传地址</description>
    <param-name>file-upload</param-name>
    <param-value>
      D:\apache-tomcat-8.5.45\apache-tomcat-8.5.45\webapps\data\
    </param-value>
  </context-param>
</web-app>
